<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ sitename }}</title>
        {{ head|safe }}
    </head>
    <body>
        <header>{{ header|safe }}</header>
        <main>
            {{ intro|safe }}
            <ul class="table-of-content">
                {% for (article, path) in articles %}
                    <li><a href="./{{ path }}">{{ article.name() }}</a> <time>{{ article.ts }}</time></li>
                {% endfor %}
            </ul>
        </main>
        <footer>{{ footer|safe }}</footer>
    </body>
</html>